*.o
*.a
*.so
*.ko
*.elf
*.bin
*.img
*.cpio
*.cpio.gz
*.tar
*.tar.gz
*.iso

boot/u-boot/src/
boot/u-boot/build/
boot/fit/*.itb
boot/fit/*.dtb



iso/build/

faultlab/results/
faultlab/backups/

tpmstate/
var/pac/

*.log
*.swp
*~
.DS_Store


